.background-dark {
    color: #1c1c1e;
}

.background-light {
    color: #f7f7f7;
}

.red {
    color: #A90114;
}

.red-hover:hover {
    color: #A90114 !important;
}

.yellow {
    color: #DCA303;
}

.yellow-hover:hover {
    color: #DCA303 !important;
}

:root {
    --accent-color: #DCA303
}

.green {
    color: #34C759;
}