@font-face {
    font-family: "cera_problack_italic";
    src: url(/assets/fonts/cera_pro_black_italic.woff) format("woff");
 }
 
 @font-face {
    font-family: "cera_problack";
    src: url(/assets/fonts/cera_pro_black.woff) format("woff");
 }
 
 @font-face {
    font-family: "cera_probold";
    src: url(/assets/fonts/cera_pro_bold.woff) format("woff");
 }
 
 @font-face {
    font-family: "cera_prolight";
    src: url(/assets/fonts/cera_pro_light.woff) format("woff");
 }
 
 @font-face {
    font-family: "cera_promedium";
    src: url(/assets/fonts/cera_pro_medium.woff) format("woff");
 }
 
 @font-face {
    font-family: "cera_proregular";
    src: url(/assets/fonts/cera_pro_regular.woff) format("woff");
 }
 
 @font-face {
    font-family: "cera_proitalic";
    src: url(/assets/fonts/cera_pro_regular_italic.woff) format("woff");
 }

p,
h1,
h2,
h3,
h4 {
    margin: 0
}

h1 {
    font-family: "cera_probold";
    font-size: 6.5em;
    line-height: 1.15;
}

h2 {
    font-family: "cera_probold";
    font-size: 2.5em;
    line-height: 1.3;
}

h3 {
    font-family: "cera_promedium";
    font-size: 2em;
}

h4 {
    font-family: "cera_proregular";
    font-size: 1.3em;
    line-height: 1.5;
}

p {
    font-family: "cera_promedium";
    font-size: 1.125em;
    line-height: 1.9; 
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background: #1c1c1c;
    color: white;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.container {
    width: 1000px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 75px;
}

.nav img {
    width: 40px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons a {
    margin: 0px 30px;
    opacity: 0.25;
    transition: all 0.75s cubic-bezier(.19,1,.22,1);
}

.buttons a:hover {
    opacity: 1;
}

.buttons 

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.statement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}

.statement h2 {
    width: 65%;
}

.statement img {
    position: absolute;
    width: 45%;
    z-index: -10;
    margin-left: 250px;
    margin-top: 110px;
}

.title {
    text-align: right;
}

.title#hero {
    text-align: right;
    margin-bottom: 190px;
}

.header {
    width: 70%;
    margin-bottom: 100px;
}

.header h1 {
    margin-bottom: 30px;
}

.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 125px;
}

.block img {
    width: 100%;
}

.block#home {
    margin-bottom: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 125px;
}

.row img {
    width: 45%;
    margin-right: 50px;
}

.side-title {
    margin-bottom: 15px;
}

.home-header {
    margin-bottom: 35px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.paragraph {
    width: 55%;
}

.paragraph#full {
    width: 100%;
}

.image#home {
    margin-bottom: 20px;
}

.stretch-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.announcement {
    margin-bottom: 65px;
}

.announcement h3,
.announcement h4 {
    margin-bottom: 20px;
}

.announcement p {
    opacity: 0.35;
}

.igtv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.instacolumn {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    max-width: 300px;
}

.instablock p {
    max-width: 300px;
}

.instablock {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 517px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-bottom: 20px;
}

.footer#top {
    margin-top: 10em;
    width: 100%;
}

.footer hr {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
}

.footer img {
    width: 35px;
}

.carousel {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.carousel-cell img {
    width: 100%;
    height: 100%;
}

.carousel-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
    overflow: hidden;
}

@media only screen and (max-width: 1100px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 2em;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .buttons h4 {
        margin: 10px 0px;
    }

    .statement h2 {
        width: 80%;
    }

    .header {
        width: 100%;
    }   

    .paragraph {
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 490px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 3em;
    }
}