p,
h1,
h2,
h3,
h4 {
    margin: 0
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 6em;
}

h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4em;
}

p {
    font-weight: 400;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 20px;
    color: white;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
    top: 0;
    margin-bottom: 50px;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    line-height: 1.7;
    background-color: #1c1c1e;
}

section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
}

section.hero-section {
    background-color: #1c1c1e;
    height: 100%;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 190px;
}

section.hero-section .title {
    transition: transform 0.5s cubic-bezier(0, 1.11, .59, 1);
    color: white;
    opacity: 20%;
}

section.hero-section .red.title:hover {
    transform: translateX(100px);
    opacity: 100%;
    color: #A90114;
}

section.hero-section .yellow.title:hover {
    transform: translateX(100px);
    opacity: 100%;
    color: #DCA303;
}

section.title {
    margin-bottom: 25px;
}

section.block {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-bottom: 75px;
}

section.block p {
    color: white;    
    margin-left: 150px;
    margin-top: 25px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
}

.follow {
    text-transform: uppercase;
}

main {
    margin-left: 350px;
    margin-bottom: 100px
}